<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wes Portfolio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
	<div class="container-fluid">
		<div class="imageRow row">
			<div class="image col-md-10 col-md-offset-1">
				<p class="welcome">Welcome</p>
				<p class="to">To</p>
				
				<p class="name">Wesley Munson</p>
				<p class="design">Web Design</p>
				<!-- <img class="image col-md-12" src="../static/images/blackwood4.jpg"> -->
			</div>
		</div>

		<div class="navDiv row">
			<ul class='navUl col-md-10 col-md-offset-1'>
				<li class="li home">Wes</li>
				<li class="li about">About</li>
				<li class="li resume">Resume</li>
				<li class="li projects">Projects</li>
			</ul>
		</div>
		
		<div class="contentDiv row">
			<div class="content col-md-8 col-md-offset-2">Content</div>
		</div>
		
		<div class="footerDiv row">
			<div class="footer">footer here</div>
			
		</div>
    </div>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src = "../static/js/main.js"></script>
</body>
</html>